{% extends 'base.html' %}
{% block title %} Lista personalizada {% endblock %}
{% block body %}
<!--{% block content %} {% endblock %}-->
<p><h2>Lista de Personas</h2></p><br>
<div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar</button>
    <br><br>
</div>
<div class="card card-body">
    <div class="row">
        <table id="data_tabla" class="table table-hover table-striped table-bordered bg-white table-sm">
            <thead>
            <tr>
            	<th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Num de Empleado</th>
                <th scope="col">Fecha de ingreso</th>
                <th scope="col">Cert 1</th>
                <th scope="col">Cert 2</th>
                <th scope="col">Cert 3</th>
                <th scope="col">Cert 4</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for dato in datos %}
                <tr>
                    <td>{{ dato.0 }}</td>
                    <td>{{ dato.1 }}</td>
                    <td>{{ dato.7 }}</td>
                    <td>{{ dato.2 }}</td>
                    <td>{{ dato.3 }}</td>
                    <td>{{ dato.4 }}</td>
                    <td>{{ dato.5 }}</td>
                    <td>{{ dato.6 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>   
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar persona</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputName" class="form-label"><strong>Nombre</strong></label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmpleado" class="form-label"><strong>Num de Empleado</strong></label>
            <input type="text" class="form-control" id="exampleInputEmpleado" aria-describedby="emailHelp">
          </div>
          <div>
            <label for="exampleInputFechaIng" class="form-label"><strong>Fecha de ingreso</strong></label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div><br>
          <div>
            <label for="exampleInputFechaIng" class="form-label"><strong>Calificaciones</strong></label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Certf 1</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Certf 2</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Certf 3</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Certf 4</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>  
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}